<h1>All cars</h1>
<% @cars.each do |car| %>
  <h2><%= car.brand%>  </h2>
  <h3><%= car.model%>  </h2>
  <p><%=  car.created_at.strftime("%A, %d %b %Y %l:%M %p") %></p>
  <p><%= car.owner.nickname%> </p>
  <hr>
<%end%>
